@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li_text:hover {
   color: rgb(0, 255, 213);
}
.nav__li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.nav {
    width: 502px;
}
.all {
    text-align: center;
    width: 100vw;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(0, 255, 213);
}
.navigation {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.title {
    float: left;
    margin: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;  
    font-size: 30px;
    font-weight: 300;
}
body {
    width: 100vw;
    max-width: 100%;
    text-align: center;
}
.title::first-letter{
    font-weight: 15%;
    font-size: 30px;
    color: rgb(0, 255, 213);
    font-weight: 900;
}
.main-img {
    filter: brightness(50%);
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.menu-img {
    position: relative;
    width: 100%;
}
.main-text {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35pt;
}
.sub-text {
    position: absolute;
    top: 261px;
    left: -230px;
    right: 0;
    bottom: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 100;
}
.left {
    position: absolute;
    top: 200px;
    left: 331px;
    cursor: pointer;
    width: 105px;
    height: 105px;
    border: none;
    background-color: rgba(0, 255, 213, 0.5);
}
.right {
    position: absolute;
    top: 205px;
    right: 331px;
    cursor: pointer;
    border: none;
    width: 105px;
    height: 105px;
    background-color: rgba(0, 255, 213, 0.5);
}
.left:hover {
    background-color: rgba(0, 255, 213, 1);
}
.right:hover {
    background-color: rgba(0, 255, 213, 1);
}
.left-point {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 60px;
    margin-top: 17px;
}
.right-point {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 60px;
    margin-top: 17px;
}
.title2 {
    display: inline-block;
    margin-top: 50px;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 25pt;
}
.spirit {
    background-color: rgb(0, 255, 213);
    width: 164px;
    height: 7px;
    margin: 12px auto 70px;
}
.shop {
    display: inline-block;
    text-align: center;
    background-color: #e9f0fd;
    margin-top: -4px;
    width: 100%;
    padding-bottom: 150px;
}
.title2:after {
    display: block;
    content: "";
    width: 164px;
    height: 4px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 70px;
}
.item1 {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    position: relative;
}
.item2 {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.item3 {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.item4 {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.name1 {
    position: absolute;
    left: 0px;
    top: 221px;
    width: 180px;
    height: 20px;
    background-color: #323232;
    margin-top: -4px;
    margin-right: 0;
    cursor: pointer;
}
.name2 {
    position: absolute;
    left: 0px;
    top: 221px;
    width: 180px;
    height: 20px;
    background-color: #323232;
    margin-top: -4px;
    margin-right: 0;
    cursor: pointer;
}
.name3 {
    position: absolute;
    left: 0px;
    top: 221px;
    width: 180px;
    height: 20px;
    background-color: #323232;
    margin-top: -4px;
    margin-right: 0;
    cursor: pointer;
}
.name4 {
    position: absolute;
    left: 0px;
    top: 221px;
    width: 180px;
    height: 20px;
    background-color: #323232;
    margin-top: -4px;
    margin-right: 0;
    cursor: pointer;
}
.price1 {
    position: absolute;
    left: 180px;
    top: 221px;
    width: 40px;
    height: 20px;
    background-color: #8c8c8c;
    margin-top: -4px;
    margin-right: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.price2 {
    position: absolute;
    left: 180px;
    top: 221px;
    width: 40px;
    height: 20px;
    background-color: #8c8c8c;
    margin-top: -4px;
    margin-right: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.price3 {
    position: absolute;
    left: 180px;
    top: 221px;
    width: 40px;
    height: 20px;
    background-color: #8c8c8c;
    margin-top: -4px;
    margin-right: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.price4 {
    position: absolute;
    left: 180px;
    top: 221px;
    width: 40px;
    height: 20px;
    background-color: #8c8c8c;
    margin-top: -4px;
    margin-right: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.name-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 0;
    margin-left: -50px;
    margin-right: 0;
}
.item1:hover .name1 {
    background-color: #1abc9c;
}
.item2:hover .name2 {
    background-color: #1abc9c;
}
.item3:hover .name3 {
    background-color: #1abc9c;
}
.item4:hover .name4 {
    background-color: #1abc9c;
}
.item1:hover .price1 {
    background-color: #7fd9c7;
}
.item2:hover .price2 {
    background-color: #7fd9c7;
}
.item3:hover .price3 {
    background-color: #7fd9c7;
}
.item4:hover .price4 {
    background-color: #7fd9c7;
}
.hidden_menu {
    display: none;
    position: absolute;
    left: 5px;
    top: 4px;
    z-index: 3;
    background-color: rgba(63, 100, 94, 0.5);
    width: 210px;
    height: 210px;
}
button {
    padding: 0;
    border: none;
    background-color: rgba(0, 255, 213, 0);
    cursor: pointer;
}
.heart {
    position: static;
    background-color: rgba(0, 255, 213, 0);
    border: solid;
    padding: 12px 13px 12px 13px;
    border-width: 2px;
    border-color: white;
    margin-top: 70px;
}
.change {
    background-color: rgba(0, 255, 213, 0);
    border: solid;
    padding: 13px 13px 12px 13px;
    border-width: 2px;
    border-color: white;
    margin-top: 70px;
}
.clock {
    background-color: rgba(0, 255, 213, 0);
    border: solid;
    padding: 10px 13px 12px 13px;
    border-width: 2px;
    border-color: white;
    margin-top: 70px;
}
.addtocart {
    background-color: #323232;
    border: solid;
    padding: 10px 28px 12px 28px;
    border-width: 2px;
    border-color: white;
    margin-top: 5px;
}
.buttons{
    text-align: center;
}
button:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}
.item1:hover .hidden_menu {
    display: block;
}
.item2:hover .hidden_menu2 {
    display: block;
}
.item3:hover .hidden_menu3 {
    display: block;
}
.item4:hover .hidden_menu4 {
    display: block;
}
.hidden_menu2 {
    display: none;
    position: absolute;
    left: 5px;
    top: 4px;
    z-index: 3;
    background-color: rgba(63, 100, 94, 0.5);
    width: 210px;
    height: 210px;
}
.hidden_menu3 {
    display: none;
    position: absolute;
    left: 5px;
    top: 4px;
    z-index: 3;
    background-color: rgba(63, 100, 94, 0.5);
    width: 210px;
    height: 210px;
}
.hidden_menu4 {
    display: none;
    position: absolute;
    left: 5px;
    top: 4px;
    z-index: 3;
    background-color: rgba(63, 100, 94, 0.5);
    width: 210px;
    height: 210px;
}
.footer {
    width: 100%;
    height: 60px;
    background-color: #323232;
    margin: 0 auto;
}
.footer_text {
    display: inline-block;
    margin-top: 0;
    padding-top: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.green {
    margin-left: 4px;
    display: inline-block;
    color: rgb(0, 255, 213);
    font-family: 'Roboto', sans-serif;
}